#Dossier 
build/
out/
out-br/
optee_os/
optee_client/
optee_test/
optee_ftpm/
linux/
u-boot/
trusted-firmware-a/
qemu/
ms-tpm-20-ref/
buildroot/
toolchains/
test/
data/

.wallet_initialized

# On ignore les fichiers de compilation classiques
*.o
*.d
*.ta
*.elf
*.map
*.stripped.conf
*.host

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Système et IDE ---
.DS_Store
.vscode/
.idea/
*.swp
*~

